<!DOCTYPE html>
<html>


    <head>
        <meta charset="UTF-8">
       <title>ACCUEIL</title>
		    
        <link rel="stylesheet" type="text/css" href="/css/slideshow.css" media="all"/>
        <link rel= "stylesheet" href="https://bootswatch.com/5/slate/bootstrap.min.css">
        
    </head>

<body>
 <nav class="navbar navbar-expand-lg ">
            <a class="navbar-brand" href="/">PROFIL</a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"  "fixed-top text-uppercase" id="mainNav">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarColor01" >
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">PORTFOLIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cv">CV</a>
                    </li>
                </ul>
            </div>
        </nav>
  <p>&nbsp;</p>
  <h1> Je me présente à travers le WEB </h1>
  <p>&nbsp;</p>
  <p></p>
  <p> Dans ce site WEB ,Je vais me présenter en y introduisant mon Portfolio de compétences et mon CV pour réussir le projet professionnel de mes rêves en mentionnant la majorité de mes compétences 
  ,mes loisirs ,mes centres d'intérêt ,mes diplomes ainsi que mon expérience professionnelle .
  </p>
  <p>&nbsp;</p>
    <section id="slideshow">
		
	<div class="container">
		<div class="c_slider"></div>
		<div class="slider">
			<figure>
				<img src="images/photo1.jpg" alt="" width="640" height="640" align="right" />
				<figcaption>Mes loisirs les Voyage - Paris 📍</figcaption>

			</figure><!--
			--><figure>
				<img src="images/photo3.jpg" alt="" width="640" height="640"  align="right"/>
				<figcaption>Voyage 📍 Maroc</figcaption>
			</figure><!--
			--><figure>
				<img src="images/basket.jpg" alt="" width="640" height="640" align="right" />
				<figcaption>Mais aussi&ensp;<em>le</em>&ensp;Basketball</figcaption>

			</figure><!--
			--><figure>
				<img src="images/photo8.jpg" alt="" width="640" height="640"  align="right"/>
				<figcaption>Voyage 📍</figcaption>
			</figure>
		</div>
	</div>
		
	<span id="timeline"></span>
</section>
   <div class="card border-primary mb-3" style="max-width: 25rem;">
  <div class="card-header"></div>
  <div class="card-body">
    <center><h4 class="card-title">Nom Complet </h4>
    <p class="card-text">ELBADAOUI Salah Eddine </p></center>
  </div>
  <img alt="photoprofil" src="/images/photoprofil.jpeg">
 </div>

 <div class="card border-secondary mb-3" style="max-width: 25rem;">
  <div class="card-header"></div>
  <div class="card-body">
   <center> <h4 class="card-title">Date de naissance </h4>
    <p class="card-text">10 Octobre 2003</p> </center>
  </div>
 </div>
 <div class="card border-success mb-3" style="max-width: 25rem;">
  <div class="card-header"></div>
  <div class="card-body">
   <center> <h4 class="card-title">Nationalité</h4>
    <p class="card-text">Marocaine</p> </center>
  </div>
 </div>
 <div class="card border-danger mb-4" style="max-width: 25rem;">
  <div class="card-header"></div>
  <div class="card-body">
    <center><h4 class="card-title">E-mail</h4>
    <p class="card-text">salah.eddine.elbadaoui@etu.univ-st-etienne.fr</p></center>
  </div>
  
 </div>
 

          </div>
        </div>
        <!--/.row -->
      </div>
      <!--/.container -->
    </div>
    <p>&nbsp;</p>
    <!--/ #footer -->
  </section>
  </body>
</html>




